<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <a class="footer-brand " href="#">Angular Shop</a>
            </div>         
            <div class="col-md-6">
                <ul>
                    <li>
                        <a class="" href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="" href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a class="" href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>    
        </div>
    </div>
</footer>