<div *ngIf="phone">
    <div class="container">
        <div class="row">
            <div class="col-md-12 phone-name">
                <h2>{{phone.name}}</h2>
            </div>    
            <div class="col-md-6">
                <div class="img-wrap">
                    <img class="card-img-top" src="{{phone.imageUrl}}" alt="{{phone.name}}">
                </div>
                <h5>price: <span>{{phone.price}}$</span></h5>
            </div>
            <div class="col-md-6 right-text">
                <p>{{phone.snippet}}</p>
                <button (click)="goBack()" class="btn btn-primary">Go Back</button>
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>
</div>